* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;

}

html,body {
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: #aeaaaa;
    font-size: 15rem;
    font-weight: 500;
    letter-spacing: -1rem;
    user-select: none;
}